doctype html
html
  head
    title Suzo's Dance Acadmey
    block style 
    block scripts
   
      
  body
    body
      nav#navbar
            ul
                div#logo   
                    img(src="/static/black.png")
                    |  Suzo's Studio 
                   
                li #[a(href ="/") Home ]
                li #[a(href ="/") About ]
                li #[a(href ="/") services]
                li #[a(href ="/") class Info]
                li #[a(href ="/contact") Contact Us] 
      
    block content
    footer#footer 
      | Copyright © 2024 Suzostudio.com | All Rights Reserved

      